In [43]:
import pandas as pd
xls = pd.ExcelFile('case people analytics (2).xlsx')
df_scores = pd.read_excel(xls, 0)
df_performance = pd.read_excel(xls, 1)
df_area = pd.read_excel(xls, 2)

In [2]:
# Merge area and performance
df_perf_area_full = df_performance.merge(df_area, on='CPF', how='left')
df_perf_area_full = df_perf_area_full.rename(columns = {'Performance 1º/2019':'performance_1s_2019', 'Performance 2º/2018':'performance_2s_2018', 'Performance 1º/2018':'performance_1s_2018', 'Performance 2º 2017':'performance_2s_2017'})

In [3]:
# find new employees
novos_funcionarios = df_perf_area_full[df_perf_area_full[['performance_1s_2019', 'performance_2s_2018', 'performance_1s_2018', 'performance_2s_2017']].isna().all(axis=1)]
novos_funcionarios = novos_funcionarios[['CPF', 'Área', 'performance_1s_2019']]

In [4]:
novos_funcionarios.isna().sum()

CPF                      0
Área                     0
performance_1s_2019    765
dtype: int64

In [5]:
# Merge new employees
novos_funcionarios_scores = novos_funcionarios.merge(df_scores, on='CPF', how='left')

In [6]:
novos_funcionarios_scores

,CPF,Área,performance_1s_2019,Nome,Sobrenome,E-mail,Match,Potencial Bruto,Raciocínio,Social,...,Início - Raciocínio,Fim - Raciocínio,Início - Cultura,Fim - Cultura,Início - Social,Fim - Social,Início - Motivacional,Fim - Motivacional,Início - Perfil,Fim - Perfil
0,930.587.642-19,Logística,NaN,Juan,da Cunha,juanda-cunha3024@example.com,NaN,40.64,24.91,50.82,...,2017-08-29 12:25:17.413371+00:00,2017-08-29 13:14:01.034712+00:00,2017-08-29 16:01:06.177313+00:00,2017-08-29 16:05:52.252739+00:00,2017-08-29 16:40:42.077537+00:00,2017-08-31 02:28:25.730477+00:00,2017-08-31 19:25:34.325104+00:00,2017-08-31 19:36:49.130951+00:00,2017-08-29 16:22:47.943516+00:00,2017-08-29 16:34:29.537286+00:00
1,674.158.320-35,Comercial,NaN,Lara,Araújo,laraaraujo524@example.com,NaN,NaN,81.73,NaN,...,2016-04-18 04:43:08.545961+00:00,2016-04-18 05:31:55.169818+00:00,2016-04-18 05:35:26.162982+00:00,2016-04-18 05:38:16.660346+00:00,NaN,NaN,NaN,NaN,NaN,NaN
2,489.623.501-14,Comercial,NaN,Emanuelly,Pires,emanuellypires2123@example.com,NaN,NaN,47.07,NaN,...,2016-04-18 18:21:02.028482+00:00,2016-04-18 19:22:56.158155+00:00,2016-04-18 19:23:21.454733+00:00,2016-04-18 19:32:06.477933+00:00,NaN,NaN,NaN,NaN,NaN,NaN
3,164.937.250-71,Comercial,NaN,Maria Luiza,Almeida,maria-luizaalmeida6032@example.com,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,231.960.785-41,Operações,NaN,Nicole,Rocha,nicolerocha5976@example.com,NaN,NaN,50.63,NaN,...,2016-05-26 05:16:13.062684+00:00,2016-05-26 06:07:46.165905+00:00,2016-04-19 05:09:10.307937+00:00,2016-04-19 05:14:56.323747+00:00,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
760,837.962.540-47,Comercial,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
761,063.248.159-51,Comercial,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
762,463.715.892-37,Comercial,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
763,594.607.381-84,Comercial,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
764,478.012.695-94,Operações,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
novos_funcionarios_scores = novos_funcionarios_scores[['CPF', 'Área', 'performance_1s_2019', 'Potencial Bruto', 'Raciocínio', 'Social', 'Motivacional', 'Cultura pontuação', ]]

In [8]:
novos_funcionarios_scores.isna().sum()

CPF                      0
Área                     0
performance_1s_2019    765
Potencial Bruto        610
Raciocínio             224
Social                 600
Motivacional           604
Cultura pontuação      200
dtype: int64

In [9]:
# Check missing values
import numpy as np
import pandas as pd


def missing_zero_values_table(df):
    zero_val = (df == 0.00).astype(int).sum(axis=0)
    mis_val = df.isnull().sum()
    mis_val_percent = 100 * df.isnull().sum() / len(df)
    mz_table = pd.concat([zero_val, mis_val, mis_val_percent], axis=1)
    mz_table = mz_table.rename(
        columns={0: 'Zero Values', 1: 'Missing Values', 2: '% of Total Values'})
    mz_table['Total Zero Missing Values'] = mz_table['Zero Values'] + \
        mz_table['Missing Values']
    mz_table['% Total Zero Missing Values'] = 100 * \
        mz_table['Total Zero Missing Values'] / len(df)
    mz_table['Data Type'] = df.dtypes
    mz_table = mz_table[
        mz_table.iloc[:, 1] != 0].sort_values(
        '% of Total Values', ascending=False).round(1)
    print("Your selected dataframe has " + str(df.shape[1]) + " columns and " + str(df.shape[0]) + " Rows.\n"
          "There are " + str(mz_table.shape[0]) +
          " columns that have missing values.")
#         mz_table.to_excel('D:/sampledata/missing_and_zero_values.xlsx', freeze_panes=(1,0), index = False)
    return mz_table

missing_zero_values_table(novos_funcionarios_scores)

Your selected dataframe has 8 columns and 765 Rows.
There are 6 columns that have missing values.

,Zero Values,Missing Values,% of Total Values,Total Zero Missing Values,% Total Zero Missing Values,Data Type
performance_1s_2019,0,765,100.0,765,100.0,float64
Potencial Bruto,0,610,79.7,610,79.7,float64
Motivacional,0,604,79.0,604,79.0,float64
Social,0,600,78.4,600,78.4,float64
Raciocínio,0,224,29.3,224,29.3,float64
Cultura pontuação,0,200,26.1,200,26.1,float64

In [37]:
novos_funcionarios_filter = novos_funcionarios_scores.dropna(subset=['Raciocínio', 'Cultura pontuação'])
pd.set_option('display.max_rows', None)
pd. reset_option("all") 
novos_funcionarios_filter['Área'].value_counts()

As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead.

: boolean
    use_inf_as_null had been deprecated and will be removed in a future
    version. Use `use_inf_as_na` instead.

/home/ggnicolau/miniconda3/envs/jupyter-1/lib/python3.10/site-packages/pandas/_config/config.py:630: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead.
  warnings.warn(d.msg, FutureWarning)
/home/ggnicolau/miniconda3/envs/jupyter-1/lib/python3.10/site-packages/pandas/_config/config.py:630: FutureWarning:
: boolean
    use_inf_as_null had been deprecated and will be removed in a future
    version. Use `use_inf_as_na` instead.

  warnings.warn(d.msg, FutureWarning)

Comercial    258
Operações    231
Logística     25
Name: Área, dtype: int64

In [38]:
novos_funcionarios_filter = novos_funcionarios_filter.sort_values(['Potencial Bruto'], ascending = False)
novos_funcionarios_filter = novos_funcionarios_filter.loc[((novos_funcionarios_filter['Raciocínio'] > 50) & (novos_funcionarios_filter['Cultura pontuação'] > 50)),:]
a = novos_funcionarios_filter.fillna(0)
novos_funcionarios_filter = a.loc[(((a['Potencial Bruto'] > 50) | (a['Potencial Bruto'] == 0)) & ((a['Raciocínio'] > 50) | (a['Raciocínio'] == 0)) & ((a['Social'] > 50) | (a['Social'] == 0)) & ((a['Motivacional'] > 50) | (a['Motivacional'] == 0)) & ((a['Cultura pontuação'] > 50 | (a['Cultura pontuação'] == 0)))),:]
novos_funcionarios_filter = novos_funcionarios_filter.replace(0, np.nan).drop(['performance_1s_2019'], axis=1).reset_index(drop=True)
novos_funcionarios_filter

,CPF,Área,Potencial Bruto,Raciocínio,Social,Motivacional,Cultura pontuação
0,392.418.576-17,Comercial,82.71,94.05,77.16,72.34,58.89
1,143.956.027-71,Comercial,75.15,82.70,57.41,87.92,53.54
2,178.259.046-31,Comercial,74.13,70.68,63.99,93.86,60.62
3,189.560.273-41,Logística,73.57,71.57,80.45,67.14,70.31
4,607.814.395-66,Comercial,72.34,70.63,70.58,77.53,53.68
...,...,...,...,...,...,...,...
82,412.389.567-18,Logística,NaN,66.16,NaN,NaN,58.15
83,064.291.835-13,Logística,NaN,55.53,NaN,NaN,52.15
84,148.309.526-61,Logística,NaN,84.49,NaN,NaN,64.69
85,763.509.841-11,Comercial,NaN,75.26,NaN,NaN,56.05
86,376.892.514-55,Logística,NaN,76.64,NaN,NaN,61.62

In [42]:
pd.set_option('display.max_rows', None)
novos_funcionarios_filter

,CPF,Área,Potencial Bruto,Raciocínio,Social,Motivacional,Cultura pontuação
0,392.418.576-17,Comercial,82.71,94.05,77.16,72.34,58.89
1,143.956.027-71,Comercial,75.15,82.70,57.41,87.92,53.54
2,178.259.046-31,Comercial,74.13,70.68,63.99,93.86,60.62
3,189.560.273-41,Logística,73.57,71.57,80.45,67.14,70.31
4,607.814.395-66,Comercial,72.34,70.63,70.58,77.53,53.68
5,645.387.902-65,Comercial,71.15,73.80,67.28,72.34,59.31
6,521.498.307-79,Comercial,71.05,67.79,73.87,72.34,51.79
7,654.712.839-37,Operações,70.79,58.40,70.58,90.89,58.23
8,643.805.291-42,Comercial,70.12,77.71,67.28,61.95,65.17
9,643.902.578-38,Comercial,65.47,83.73,50.82,56.75,51.52
10,193.782.045-97,Operações,60.72,59.23,54.12,72.34,73.59
11,410.873.956-66,Comercial,58.88,51.01,50.82,82.73,62.52
12,849.035.726-92,Comercial,57.48,57.27,50.82,67.14,51.73
13,809.713.654-66,Operações,54.43,56.49,54.12,51.56,61.60
14,674.158.320-35,Comercial,NaN,81.73,NaN,NaN,61.09
15,231.960.785-41,Operações,NaN,50.63,NaN,NaN,61.74
16,194.035.826-42,Operações,NaN,59.81,NaN,NaN,66.03
17,354.678.201-17,Operações,NaN,66.57,NaN,NaN,57.81
18,928.645.073-74,Operações,NaN,69.44,NaN,NaN,51.19
19,026.439.857-29,Operações,NaN,69.07,NaN,NaN,50.74
20,798.546.103-57,Operações,NaN,54.63,NaN,NaN,54.26
21,810.247.359-23,Operações,NaN,67.75,NaN,NaN,65.72
22,319.456.802-71,Comercial,NaN,60.20,NaN,NaN,71.70
23,502.367.918-77,Operações,NaN,68.10,NaN,NaN,55.30
24,194.620.857-49,Comercial,NaN,58.72,NaN,NaN,82.01
25,094.257.638-11,Operações,NaN,79.53,NaN,NaN,50.90
26,418.679.523-19,Operações,NaN,78.25,NaN,NaN,51.05
27,349.586.712-18,Comercial,NaN,55.43,NaN,NaN,54.92
28,924.075.136-14,Operações,NaN,52.16,NaN,NaN,60.57
29,483.059.726-74,Operações,NaN,81.29,NaN,NaN,52.56
30,586.132.947-82,Operações,NaN,69.33,NaN,NaN,68.63
31,870.291.563-41,Comercial,NaN,66.86,NaN,NaN,79.79
32,421.690.375-43,Comercial,NaN,56.02,NaN,NaN,70.22
33,485.120.397-79,Operações,NaN,60.71,NaN,NaN,55.48
34,326.781.405-71,Comercial,NaN,56.00,NaN,NaN,83.13
35,269.357.184-73,Comercial,NaN,66.68,NaN,NaN,55.01
36,380.257.419-23,Comercial,NaN,52.06,NaN,NaN,67.40
37,425.386.091-51,Operações,NaN,69.03,NaN,NaN,54.39
38,249.371.850-12,Comercial,NaN,52.23,NaN,NaN,66.33
39,987.265.403-47,Operações,NaN,70.98,NaN,NaN,59.15
40,481.967.352-19,Operações,NaN,70.87,NaN,NaN,77.68
41,823.960.517-68,Operações,NaN,63.61,NaN,NaN,74.07
42,943.058.627-19,Operações,NaN,60.05,NaN,NaN,66.23
43,142.370.685-44,Operações,NaN,69.40,NaN,NaN,67.57
44,076.238.951-68,Comercial,NaN,80.12,NaN,82.73,69.30
45,985.417.306-21,Comercial,NaN,69.15,NaN,NaN,64.19
46,067.234.859-47,Comercial,NaN,83.80,NaN,NaN,73.84
47,589.314.627-19,Comercial,NaN,77.05,NaN,NaN,61.87
48,509.273.864-29,Comercial,NaN,50.26,NaN,NaN,68.15
49,642.713.509-15,Comercial,NaN,74.96,NaN,NaN,74.92
50,752.896.104-31,Operações,NaN,79.39,NaN,NaN,52.10
51,495.267.108-94,Comercial,NaN,62.79,NaN,NaN,52.34
52,814.352.067-62,Operações,NaN,85.58,NaN,NaN,63.23
53,317.529.068-11,Operações,NaN,67.00,NaN,NaN,60.25
54,417.296.305-61,Operações,NaN,55.04,NaN,NaN,52.51
55,720.854.639-83,Operações,NaN,63.53,NaN,NaN,51.27
56,426.308.715-17,Operações,NaN,74.94,NaN,NaN,55.62
57,436.809.172-87,Comercial,NaN,55.41,NaN,NaN,55.35
58,237.861.950-21,Comercial,NaN,77.54,NaN,NaN,74.41
59,321.568.409-89,Comercial,NaN,61.85,NaN,NaN,55.41
60,187.260.534-62,Comercial,NaN,65.08,NaN,NaN,80.01
61,876.259.014-67,Operações,NaN,64.58,NaN,NaN,56.76
62,782.693.510-59,Comercial,NaN,72.02,NaN,NaN,55.46
63,586.907.132-12,Operações,NaN,66.60,NaN,NaN,51.53
64,495.627.830-65,Operações,NaN,52.74,NaN,NaN,51.16
65,257.183.046-53,Comercial,NaN,58.76,NaN,NaN,53.12
66,846.395.102-33,Operações,NaN,58.30,NaN,NaN,59.49
67,910.342.576-25,Comercial,NaN,63.55,NaN,NaN,63.46
68,941.506.783-75,Operações,NaN,58.15,NaN,NaN,72.31
69,250.981.643-89,Comercial,NaN,56.53,NaN,NaN,54.40
70,745.296.308-38,Comercial,NaN,75.97,NaN,NaN,62.38
71,675.982.031-21,Operações,NaN,61.99,50.82,NaN,57.97
72,824.395.167-91,Operações,NaN,63.96,NaN,NaN,63.16
73,253.018.467-44,Comercial,NaN,89.33,NaN,NaN,76.73
74,280.746.195-67,Operações,NaN,72.44,NaN,NaN,53.81
75,784.910.635-11,Comercial,NaN,60.65,NaN,NaN,54.92
76,764.812.950-76,Operações,NaN,73.88,NaN,NaN,76.61
77,894.205.736-56,Comercial,NaN,68.88,NaN,NaN,73.51
78,410.736.258-26,Logística,NaN,76.64,NaN,NaN,58.76
79,401.329.678-12,Operações,NaN,78.96,NaN,NaN,52.55
80,537.409.286-38,Operações,NaN,58.08,NaN,NaN,50.53
81,674.259.108-11,Comercial,NaN,74.19,NaN,NaN,63.00
82,412.389.567-18,Logística,NaN,66.16,NaN,NaN,58.15
83,064.291.835-13,Logística,NaN,55.53,NaN,NaN,52.15
84,148.309.526-61,Logística,NaN,84.49,NaN,NaN,64.69
85,763.509.841-11,Comercial,NaN,75.26,NaN,NaN,56.05
86,376.892.514-55,Logística,NaN,76.64,NaN,NaN,61.62

In [83]:
novos_funcionarios_filter

,CPF,Área,Potencial Bruto,Raciocínio,Social,Motivacional,Cultura pontuação
0,392.418.576-17,Comercial,82.71,94.05,77.16,72.34,58.89
1,143.956.027-71,Comercial,75.15,82.70,57.41,87.92,53.54
2,178.259.046-31,Comercial,74.13,70.68,63.99,93.86,60.62
3,189.560.273-41,Logística,73.57,71.57,80.45,67.14,70.31
4,607.814.395-66,Comercial,72.34,70.63,70.58,77.53,53.68
5,645.387.902-65,Comercial,71.15,73.80,67.28,72.34,59.31
6,521.498.307-79,Comercial,71.05,67.79,73.87,72.34,51.79
7,654.712.839-37,Operações,70.79,58.40,70.58,90.89,58.23
8,643.805.291-42,Comercial,70.12,77.71,67.28,61.95,65.17
9,643.902.578-38,Comercial,65.47,83.73,50.82,56.75,51.52
10,193.782.045-97,Operações,60.72,59.23,54.12,72.34,73.59
11,410.873.956-66,Comercial,58.88,51.01,50.82,82.73,62.52
12,849.035.726-92,Comercial,57.48,57.27,50.82,67.14,51.73
13,809.713.654-66,Operações,54.43,56.49,54.12,51.56,61.60
14,674.158.320-35,Comercial,NaN,81.73,NaN,NaN,61.09
15,231.960.785-41,Operações,NaN,50.63,NaN,NaN,61.74
16,194.035.826-42,Operações,NaN,59.81,NaN,NaN,66.03
17,354.678.201-17,Operações,NaN,66.57,NaN,NaN,57.81
18,928.645.073-74,Operações,NaN,69.44,NaN,NaN,51.19
19,026.439.857-29,Operações,NaN,69.07,NaN,NaN,50.74
20,798.546.103-57,Operações,NaN,54.63,NaN,NaN,54.26
21,810.247.359-23,Operações,NaN,67.75,NaN,NaN,65.72
22,319.456.802-71,Comercial,NaN,60.20,NaN,NaN,71.70
23,502.367.918-77,Operações,NaN,68.10,NaN,NaN,55.30
24,194.620.857-49,Comercial,NaN,58.72,NaN,NaN,82.01
25,094.257.638-11,Operações,NaN,79.53,NaN,NaN,50.90
26,418.679.523-19,Operações,NaN,78.25,NaN,NaN,51.05
27,349.586.712-18,Comercial,NaN,55.43,NaN,NaN,54.92
28,924.075.136-14,Operações,NaN,52.16,NaN,NaN,60.57
29,483.059.726-74,Operações,NaN,81.29,NaN,NaN,52.56
30,586.132.947-82,Operações,NaN,69.33,NaN,NaN,68.63
31,870.291.563-41,Comercial,NaN,66.86,NaN,NaN,79.79
32,421.690.375-43,Comercial,NaN,56.02,NaN,NaN,70.22
33,485.120.397-79,Operações,NaN,60.71,NaN,NaN,55.48
34,326.781.405-71,Comercial,NaN,56.00,NaN,NaN,83.13
35,269.357.184-73,Comercial,NaN,66.68,NaN,NaN,55.01
36,380.257.419-23,Comercial,NaN,52.06,NaN,NaN,67.40
37,425.386.091-51,Operações,NaN,69.03,NaN,NaN,54.39
38,249.371.850-12,Comercial,NaN,52.23,NaN,NaN,66.33
39,987.265.403-47,Operações,NaN,70.98,NaN,NaN,59.15
40,481.967.352-19,Operações,NaN,70.87,NaN,NaN,77.68
41,823.960.517-68,Operações,NaN,63.61,NaN,NaN,74.07
42,943.058.627-19,Operações,NaN,60.05,NaN,NaN,66.23
43,142.370.685-44,Operações,NaN,69.40,NaN,NaN,67.57
44,076.238.951-68,Comercial,NaN,80.12,NaN,82.73,69.30
45,985.417.306-21,Comercial,NaN,69.15,NaN,NaN,64.19
46,067.234.859-47,Comercial,NaN,83.80,NaN,NaN,73.84
47,589.314.627-19,Comercial,NaN,77.05,NaN,NaN,61.87
48,509.273.864-29,Comercial,NaN,50.26,NaN,NaN,68.15
49,642.713.509-15,Comercial,NaN,74.96,NaN,NaN,74.92
50,752.896.104-31,Operações,NaN,79.39,NaN,NaN,52.10
51,495.267.108-94,Comercial,NaN,62.79,NaN,NaN,52.34
52,814.352.067-62,Operações,NaN,85.58,NaN,NaN,63.23
53,317.529.068-11,Operações,NaN,67.00,NaN,NaN,60.25
54,417.296.305-61,Operações,NaN,55.04,NaN,NaN,52.51
55,720.854.639-83,Operações,NaN,63.53,NaN,NaN,51.27
56,426.308.715-17,Operações,NaN,74.94,NaN,NaN,55.62
57,436.809.172-87,Comercial,NaN,55.41,NaN,NaN,55.35
58,237.861.950-21,Comercial,NaN,77.54,NaN,NaN,74.41
59,321.568.409-89,Comercial,NaN,61.85,NaN,NaN,55.41
60,187.260.534-62,Comercial,NaN,65.08,NaN,NaN,80.01
61,876.259.014-67,Operações,NaN,64.58,NaN,NaN,56.76
62,782.693.510-59,Comercial,NaN,72.02,NaN,NaN,55.46
63,586.907.132-12,Operações,NaN,66.60,NaN,NaN,51.53
64,495.627.830-65,Operações,NaN,52.74,NaN,NaN,51.16
65,257.183.046-53,Comercial,NaN,58.76,NaN,NaN,53.12
66,846.395.102-33,Operações,NaN,58.30,NaN,NaN,59.49
67,910.342.576-25,Comercial,NaN,63.55,NaN,NaN,63.46
68,941.506.783-75,Operações,NaN,58.15,NaN,NaN,72.31
69,250.981.643-89,Comercial,NaN,56.53,NaN,NaN,54.40
70,745.296.308-38,Comercial,NaN,75.97,NaN,NaN,62.38
71,675.982.031-21,Operações,NaN,61.99,50.82,NaN,57.97
72,824.395.167-91,Operações,NaN,63.96,NaN,NaN,63.16
73,253.018.467-44,Comercial,NaN,89.33,NaN,NaN,76.73
74,280.746.195-67,Operações,NaN,72.44,NaN,NaN,53.81
75,784.910.635-11,Comercial,NaN,60.65,NaN,NaN,54.92
76,764.812.950-76,Operações,NaN,73.88,NaN,NaN,76.61
77,894.205.736-56,Comercial,NaN,68.88,NaN,NaN,73.51
78,410.736.258-26,Logística,NaN,76.64,NaN,NaN,58.76
79,401.329.678-12,Operações,NaN,78.96,NaN,NaN,52.55
80,537.409.286-38,Operações,NaN,58.08,NaN,NaN,50.53
81,674.259.108-11,Comercial,NaN,74.19,NaN,NaN,63.00
82,412.389.567-18,Logística,NaN,66.16,NaN,NaN,58.15
83,064.291.835-13,Logística,NaN,55.53,NaN,NaN,52.15
84,148.309.526-61,Logística,NaN,84.49,NaN,NaN,64.69
85,763.509.841-11,Comercial,NaN,75.26,NaN,NaN,56.05
86,376.892.514-55,Logística,NaN,76.64,NaN,NaN,61.62

In [107]:
import pandas as pd
import numpy as np
import dataframe_image as dfi

novos_funcionarios_filter_2 = novos_funcionarios_filter.loc[(novos_funcionarios_filter['Cultura pontuação'] > 70) & (novos_funcionarios_filter['Raciocínio'] > 70)]
novos_funcionarios_filter_2 = novos_funcionarios_filter_2
novos_funcionarios_filter_2 = novos_funcionarios_filter_2.sort_values(['Cultura pontuação', 'Raciocínio'], ascending = [False, True]).reset_index(drop=True)
novos_funcionarios_filter_2 = novos_funcionarios_filter_2[:-1].drop(columns=['Potencial Bruto', 'Social', 'Motivacional'])


df_styled = novos_funcionarios_filter_2.style.background_gradient() #adding a gradient based on values in cell

dfi.export(df_styled,"mytable_3.png") #, table_conversion='matplotlib')

[0604/202351.668568:WARNING:sandbox_linux.cc(376)] InitializeSandbox() called with multiple threads in process gpu-process.
[0604/202351.677182:WARNING:bluez_dbus_manager.cc(248)] Floss manager not present, cannot set Floss enable/disable.
[0604/202351.850955:INFO:headless_shell.cc(660)] Written to file /tmp/tmp8vglimpw/temp.png.

In [108]:
df_styled

In [ ]:
novos_funcionarios_filter = a.loc[(((a['Potencial Bruto'] > 70) | (a['Potencial Bruto'] == 0)) & ((a['Raciocínio'] > 50) | (a['Raciocínio'] == 0)) & ((a['Social'] > 50) | (a['Social'] == 0)) & ((a['Motivacional'] > 50) | (a['Motivacional'] == 0)) & ((a['Cultura pontuação'] > 50 | (a['Cultura pontuação'] == 0)))),:]

In [111]:
novos_funcionarios_filter_completo = novos_funcionarios_filter[:14]
# novos_funcionarios_filter_completo = novos_funcionarios_filter_completo.round()


novos_funcionarios_filter_completo.sort_values(by=['Potencial Bruto', 'Cultura pontuação', 'Raciocínio', 'Área'], inplace=True,
               ascending = [False, False, False, False])

df_styled = novos_funcionarios_filter_completo.style.background_gradient() #adding a gradient based on values in cell

dfi.export(df_styled,"mytable_4.png") #, table_conversion='matplotlib')

novos_funcionarios_filter_completo

/home/ggnicolau/miniconda3/envs/jupyter-1/lib/python3.10/site-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)
[0604/202937.916820:WARNING:sandbox_linux.cc(376)] InitializeSandbox() called with multiple threads in process gpu-process.
[0604/202937.921832:WARNING:bluez_dbus_manager.cc(248)] Floss manager not present, cannot set Floss enable/disable.
[0604/202938.170230:INFO:headless_shell.cc(660)] Written to file /tmp/tmp3zul1bo6/temp.png.

,CPF,Área,Potencial Bruto,Raciocínio,Social,Motivacional,Cultura pontuação
0,392.418.576-17,Comercial,82.71,94.05,77.16,72.34,58.89
1,143.956.027-71,Comercial,75.15,82.70,57.41,87.92,53.54
2,178.259.046-31,Comercial,74.13,70.68,63.99,93.86,60.62
3,189.560.273-41,Logística,73.57,71.57,80.45,67.14,70.31
4,607.814.395-66,Comercial,72.34,70.63,70.58,77.53,53.68
5,645.387.902-65,Comercial,71.15,73.80,67.28,72.34,59.31
6,521.498.307-79,Comercial,71.05,67.79,73.87,72.34,51.79
7,654.712.839-37,Operações,70.79,58.40,70.58,90.89,58.23
8,643.805.291-42,Comercial,70.12,77.71,67.28,61.95,65.17
9,643.902.578-38,Comercial,65.47,83.73,50.82,56.75,51.52
10,193.782.045-97,Operações,60.72,59.23,54.12,72.34,73.59
11,410.873.956-66,Comercial,58.88,51.01,50.82,82.73,62.52
12,849.035.726-92,Comercial,57.48,57.27,50.82,67.14,51.73
13,809.713.654-66,Operações,54.43,56.49,54.12,51.56,61.60

In [76]:
novos_funcionarios_filter_incompleto = novos_funcionarios_filter.iloc[14: , :]
novos_funcionarios_filter_incompleto = novos_funcionarios_filter_incompleto.round()
novos_funcionarios_filter_incompleto.sort_values(by=['Raciocínio', 'Cultura pontuação'], inplace=True,
               ascending = [False, False])

In [77]:
novos_funcionarios_filter_incompleto.reset_index(drop=True)

,CPF,Área,Potencial Bruto,Raciocínio,Social,Motivacional,Cultura pontuação
0,253.018.467-44,Comercial,NaN,89.0,NaN,NaN,77.0
1,814.352.067-62,Operações,NaN,86.0,NaN,NaN,63.0
2,067.234.859-47,Comercial,NaN,84.0,NaN,NaN,74.0
3,148.309.526-61,Logística,NaN,84.0,NaN,NaN,65.0
4,674.158.320-35,Comercial,NaN,82.0,NaN,NaN,61.0
5,483.059.726-74,Operações,NaN,81.0,NaN,NaN,53.0
6,076.238.951-68,Comercial,NaN,80.0,NaN,83.0,69.0
7,094.257.638-11,Operações,NaN,80.0,NaN,NaN,51.0
8,401.329.678-12,Operações,NaN,79.0,NaN,NaN,53.0
9,752.896.104-31,Operações,NaN,79.0,NaN,NaN,52.0
10,237.861.950-21,Comercial,NaN,78.0,NaN,NaN,74.0
11,418.679.523-19,Operações,NaN,78.0,NaN,NaN,51.0
12,589.314.627-19,Comercial,NaN,77.0,NaN,NaN,62.0
13,376.892.514-55,Logística,NaN,77.0,NaN,NaN,62.0
14,410.736.258-26,Logística,NaN,77.0,NaN,NaN,59.0
15,745.296.308-38,Comercial,NaN,76.0,NaN,NaN,62.0
16,642.713.509-15,Comercial,NaN,75.0,NaN,NaN,75.0
17,426.308.715-17,Operações,NaN,75.0,NaN,NaN,56.0
18,763.509.841-11,Comercial,NaN,75.0,NaN,NaN,56.0
19,764.812.950-76,Operações,NaN,74.0,NaN,NaN,77.0
20,674.259.108-11,Comercial,NaN,74.0,NaN,NaN,63.0
21,782.693.510-59,Comercial,NaN,72.0,NaN,NaN,55.0
22,280.746.195-67,Operações,NaN,72.0,NaN,NaN,54.0
23,481.967.352-19,Operações,NaN,71.0,NaN,NaN,78.0
24,987.265.403-47,Operações,NaN,71.0,NaN,NaN,59.0
25,894.205.736-56,Comercial,NaN,69.0,NaN,NaN,74.0
26,586.132.947-82,Operações,NaN,69.0,NaN,NaN,69.0
27,142.370.685-44,Operações,NaN,69.0,NaN,NaN,68.0
28,985.417.306-21,Comercial,NaN,69.0,NaN,NaN,64.0
29,425.386.091-51,Operações,NaN,69.0,NaN,NaN,54.0
30,928.645.073-74,Operações,NaN,69.0,NaN,NaN,51.0
31,026.439.857-29,Operações,NaN,69.0,NaN,NaN,51.0
32,810.247.359-23,Operações,NaN,68.0,NaN,NaN,66.0
33,502.367.918-77,Operações,NaN,68.0,NaN,NaN,55.0
34,870.291.563-41,Comercial,NaN,67.0,NaN,NaN,80.0
35,317.529.068-11,Operações,NaN,67.0,NaN,NaN,60.0
36,354.678.201-17,Operações,NaN,67.0,NaN,NaN,58.0
37,269.357.184-73,Comercial,NaN,67.0,NaN,NaN,55.0
38,586.907.132-12,Operações,NaN,67.0,NaN,NaN,52.0
39,412.389.567-18,Logística,NaN,66.0,NaN,NaN,58.0
40,187.260.534-62,Comercial,NaN,65.0,NaN,NaN,80.0
41,876.259.014-67,Operações,NaN,65.0,NaN,NaN,57.0
42,823.960.517-68,Operações,NaN,64.0,NaN,NaN,74.0
43,910.342.576-25,Comercial,NaN,64.0,NaN,NaN,63.0
44,824.395.167-91,Operações,NaN,64.0,NaN,NaN,63.0
45,720.854.639-83,Operações,NaN,64.0,NaN,NaN,51.0
46,495.267.108-94,Comercial,NaN,63.0,NaN,NaN,52.0
47,675.982.031-21,Operações,NaN,62.0,51.0,NaN,58.0
48,321.568.409-89,Comercial,NaN,62.0,NaN,NaN,55.0
49,485.120.397-79,Operações,NaN,61.0,NaN,NaN,55.0
50,784.910.635-11,Comercial,NaN,61.0,NaN,NaN,55.0
51,319.456.802-71,Comercial,NaN,60.0,NaN,NaN,72.0
52,194.035.826-42,Operações,NaN,60.0,NaN,NaN,66.0
53,943.058.627-19,Operações,NaN,60.0,NaN,NaN,66.0
54,194.620.857-49,Comercial,NaN,59.0,NaN,NaN,82.0
55,257.183.046-53,Comercial,NaN,59.0,NaN,NaN,53.0
56,941.506.783-75,Operações,NaN,58.0,NaN,NaN,72.0
57,846.395.102-33,Operações,NaN,58.0,NaN,NaN,59.0
58,537.409.286-38,Operações,NaN,58.0,NaN,NaN,51.0
59,250.981.643-89,Comercial,NaN,57.0,NaN,NaN,54.0
60,326.781.405-71,Comercial,NaN,56.0,NaN,NaN,83.0
61,421.690.375-43,Comercial,NaN,56.0,NaN,NaN,70.0
62,064.291.835-13,Logística,NaN,56.0,NaN,NaN,52.0
63,349.586.712-18,Comercial,NaN,55.0,NaN,NaN,55.0
64,436.809.172-87,Comercial,NaN,55.0,NaN,NaN,55.0
65,798.546.103-57,Operações,NaN,55.0,NaN,NaN,54.0
66,417.296.305-61,Operações,NaN,55.0,NaN,NaN,53.0
67,495.627.830-65,Operações,NaN,53.0,NaN,NaN,51.0
68,380.257.419-23,Comercial,NaN,52.0,NaN,NaN,67.0
69,249.371.850-12,Comercial,NaN,52.0,NaN,NaN,66.0
70,924.075.136-14,Operações,NaN,52.0,NaN,NaN,61.0
71,231.960.785-41,Operações,NaN,51.0,NaN,NaN,62.0
72,509.273.864-29,Comercial,NaN,50.0,NaN,NaN,68.0

In [40]:
#novos_funcionarios_filter = novos_funcionarios_filter.iloc[b.isnull().sum(axis=1).mul(-1).argsort()]
b_reverse = novos_funcionarios_filter.iloc[::-1]
b_reverse

,CPF,Área,Potencial Bruto,Raciocínio,Social,Motivacional,Cultura pontuação
86,376.892.514-55,Logística,NaN,76.64,NaN,NaN,61.62
85,763.509.841-11,Comercial,NaN,75.26,NaN,NaN,56.05
84,148.309.526-61,Logística,NaN,84.49,NaN,NaN,64.69
83,064.291.835-13,Logística,NaN,55.53,NaN,NaN,52.15
82,412.389.567-18,Logística,NaN,66.16,NaN,NaN,58.15
...,...,...,...,...,...,...,...
4,607.814.395-66,Comercial,72.34,70.63,70.58,77.53,53.68
3,189.560.273-41,Logística,73.57,71.57,80.45,67.14,70.31
2,178.259.046-31,Comercial,74.13,70.68,63.99,93.86,60.62
1,143.956.027-71,Comercial,75.15,82.70,57.41,87.92,53.54
0,392.418.576-17,Comercial,82.71,94.05,77.16,72.34,58.89

,CPF,Área,Potencial Bruto,Raciocínio,Social,Motivacional,Cultura pontuação
32,392.418.576-17,Comercial,82.71,94.05,77.16,72.34,58.89
352,193.782.045-97,Operações,60.72,59.23,54.12,72.34,73.59
113,895.061.472-31,Comercial,64.78,61.84,73.87,56.75,49.27
172,357.194.860-21,Operações,63.65,59.38,77.16,51.56,32.74
446,268.351.407-71,Operações,62.17,62.86,54.12,72.34,34.58
...,...,...,...,...,...,...,...
460,257.104.839-23,Comercial,NaN,62.95,NaN,NaN,23.31
459,867.104.932-96,Operações,NaN,56.32,NaN,NaN,14.50
450,426.308.715-17,Operações,NaN,74.94,NaN,NaN,55.62
449,720.854.639-83,Operações,NaN,63.53,NaN,NaN,51.27
299,823.960.517-68,Operações,NaN,63.61,NaN,NaN,74.07

In [104]:
b_reverse.sort_values(by=['Cultura pontuação', 'Raciocínio', 'Área'], inplace=True,
               ascending = [True, False, False])

b_reverse = b.iloc[::-1]
b_reverse

,CPF,Área,Potencial Bruto,Raciocínio,Social,Motivacional,Cultura pontuação
32,392.418.576-17,Comercial,82.71,94.05,77.16,72.34,58.89
131,654.712.839-37,Operações,70.79,58.40,70.58,90.89,58.23
410,849.035.726-92,Comercial,57.48,57.27,50.82,67.14,51.73
723,410.873.956-66,Comercial,58.88,51.01,50.82,82.73,62.52
352,193.782.045-97,Operações,60.72,59.23,54.12,72.34,73.59
...,...,...,...,...,...,...,...
494,237.861.950-21,Comercial,NaN,77.54,NaN,NaN,74.41
498,321.568.409-89,Comercial,NaN,61.85,NaN,NaN,55.41
522,187.260.534-62,Comercial,NaN,65.08,NaN,NaN,80.01
523,876.259.014-67,Operações,NaN,64.58,NaN,NaN,56.76
315,142.370.685-44,Operações,NaN,69.40,NaN,NaN,67.57

In [101]:
b_reverse

,CPF,Área,Potencial Bruto,Raciocínio,Social,Motivacional,Cultura pontuação
239,326.781.405-71,Comercial,NaN,56.00,NaN,NaN,83.13
133,194.620.857-49,Comercial,NaN,58.72,NaN,NaN,82.01
522,187.260.534-62,Comercial,NaN,65.08,NaN,NaN,80.01
211,870.291.563-41,Comercial,NaN,66.86,NaN,NaN,79.79
294,481.967.352-19,Operações,NaN,70.87,NaN,NaN,77.68
...,...,...,...,...,...,...,...
582,495.627.830-65,Operações,NaN,52.74,NaN,NaN,51.16
171,418.679.523-19,Operações,NaN,78.25,NaN,NaN,51.05
153,094.257.638-11,Operações,NaN,79.53,NaN,NaN,50.90
37,026.439.857-29,Operações,NaN,69.07,NaN,NaN,50.74
684,537.409.286-38,Operações,NaN,58.08,NaN,NaN,50.53

In [ ]:
df.loc[pd.to_numeric(df.col1.fillna(0),errors='coerce')

In [75]:
pd. reset_option("all") 
a.loc[((a['Potencial Bruto'] > 50 or = 0) & (a['Raciocínio'] > 50) & (a['Social'] > 50) & (a['Motivacional'] > 50) & (a['Raciocínio'] > 50) & (a['Cultura pontuação'] > 50)),:]

As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead.

: boolean
    use_inf_as_null had been deprecated and will be removed in a future
    version. Use `use_inf_as_na` instead.

/home/ggnicolau/miniconda3/envs/jupyter-1/lib/python3.10/site-packages/pandas/_config/config.py:630: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead.
  warnings.warn(d.msg, FutureWarning)
/home/ggnicolau/miniconda3/envs/jupyter-1/lib/python3.10/site-packages/pandas/_config/config.py:630: FutureWarning:
: boolean
    use_inf_as_null had been deprecated and will be removed in a future
    version. Use `use_inf_as_na` instead.

  warnings.warn(d.msg, FutureWarning)

,CPF,Área,Potencial Bruto,Raciocínio,Social,Motivacional,Cultura pontuação
14,809.713.654-66,Operações,54.43,56.49,54.12,51.56,61.60
32,392.418.576-17,Comercial,82.71,94.05,77.16,72.34,58.89
80,143.956.027-71,Comercial,75.15,82.70,57.41,87.92,53.54
131,654.712.839-37,Operações,70.79,58.40,70.58,90.89,58.23
352,193.782.045-97,Operações,60.72,59.23,54.12,72.34,73.59
370,645.387.902-65,Comercial,71.15,73.80,67.28,72.34,59.31
375,607.814.395-66,Comercial,72.34,70.63,70.58,77.53,53.68
410,849.035.726-92,Comercial,57.48,57.27,50.82,67.14,51.73
566,643.805.291-42,Comercial,70.12,77.71,67.28,61.95,65.17
604,521.498.307-79,Comercial,71.05,67.79,73.87,72.34,51.79
607,178.259.046-31,Comercial,74.13,70.68,63.99,93.86,60.62
690,643.902.578-38,Comercial,65.47,83.73,50.82,56.75,51.52
702,189.560.273-41,Logística,73.57,71.57,80.45,67.14,70.31
723,410.873.956-66,Comercial,58.88,51.01,50.82,82.73,62.52

In [ ]:
a = a.sort_values(['', 'Discount'])

In [65]:
pd. reset_option("all") 
a.drop(a[a['Potencial Bruto'] < 50].index)

As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead.

: boolean
    use_inf_as_null had been deprecated and will be removed in a future
    version. Use `use_inf_as_na` instead.

/home/ggnicolau/miniconda3/envs/jupyter-1/lib/python3.10/site-packages/pandas/_config/config.py:630: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead.
  warnings.warn(d.msg, FutureWarning)
/home/ggnicolau/miniconda3/envs/jupyter-1/lib/python3.10/site-packages/pandas/_config/config.py:630: FutureWarning:
: boolean
    use_inf_as_null had been deprecated and will be removed in a future
    version. Use `use_inf_as_na` instead.

  warnings.warn(d.msg, FutureWarning)

,CPF,Área,Potencial Bruto,Raciocínio,Social,Motivacional,Cultura pontuação
9,082.317.546-44,Comercial,58.06,42.17,77.16,56.75,63.38
14,809.713.654-66,Operações,54.43,56.49,54.12,51.56,61.60
23,813.790.265-12,Operações,62.52,63.43,80.45,35.97,48.43
24,974.250.386-92,Operações,53.22,74.38,37.65,41.17,38.96
26,261.903.485-13,Operações,61.87,64.67,77.16,35.97,32.11
...,...,...,...,...,...,...,...
708,167.093.842-51,Comercial,68.62,72.87,57.41,77.53,24.09
713,410.289.576-11,Comercial,69.39,42.91,93.86,77.53,54.57
714,289.035.764-38,Operações,57.25,53.81,54.12,67.14,38.52
723,410.873.956-66,Comercial,58.88,51.01,50.82,82.73,62.52
738,708.362.415-17,Logística,57.43,64.72,60.70,41.17,49.39

In [47]:
a[a[['Raciocínio', 'Social', 'Motivacional', 'Cultura pontuação']].astype(float) >= 50]

,CPF,Área,Potencial Bruto,Raciocínio,Social,Motivacional,Cultura pontuação
0,NaN,NaN,NaN,NaN,50.82,51.56,NaN
9,NaN,NaN,NaN,NaN,77.16,56.75,63.38
14,NaN,NaN,NaN,56.49,54.12,51.56,61.60
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,63.43,80.45,NaN,NaN
...,...,...,...,...,...,...,...
716,NaN,NaN,NaN,NaN,NaN,67.14,61.46
718,NaN,NaN,NaN,56.04,NaN,56.75,NaN
723,NaN,NaN,NaN,51.01,50.82,82.73,62.52
728,NaN,NaN,NaN,53.38,50.82,NaN,NaN
738,NaN,NaN,NaN,64.72,60.70,NaN,NaN

In [45]:
a

,CPF,Área,Potencial Bruto,Raciocínio,Social,Motivacional,Cultura pontuação
0,930.587.642-19,Logística,40.64,24.91,50.82,51.56,11.30
9,082.317.546-44,Comercial,58.06,42.17,77.16,56.75,63.38
14,809.713.654-66,Operações,54.43,56.49,54.12,51.56,61.60
20,514.892.603-15,Comercial,44.57,46.62,40.95,46.36,27.09
23,813.790.265-12,Operações,62.52,63.43,80.45,35.97,48.43
...,...,...,...,...,...,...,...
716,165.472.938-82,Logística,33.74,26.71,17.90,67.14,61.46
718,824.056.397-18,Logística,46.33,56.04,27.78,56.75,28.72
723,410.873.956-66,Comercial,58.88,51.01,50.82,82.73,62.52
728,249.675.301-25,Comercial,46.83,53.38,50.82,30.78,43.70
738,708.362.415-17,Logística,57.43,64.72,60.70,41.17,49.39